{% extends 'base.html.twig' %}

{% block title %}Ajouter ou voir les sujets {% endblock %}

{% block body %}
<div class="row">
            <div class="col-md-4 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Ajouter un Sujet</h4>
                  <p class="card-description">
                    Basic form layout
                  </p>
                 

{{ form_start(formSujet) }}
{{ form_widget(formSujet) }}
<br>

 <input type="submit" class="btn btn-success">
{{ form_end(formSujet) }}

</div>
</div>
</div>
 <div class="col-md-8 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Table des Sujets </h4>
                  <div class="table-responsive">

                    <table class="table">
                    <thead>
                    <tr>
                        <th class="text-center">Id</th>
                        <th class="text-center">Réference</th>
                        <th class="text-center">Titre</th>
                        <th class="text-center">Description</th>
                        <th class="text-center">Nombres de points</th>
                        <th class="text-center">Action</th>
                        {# <th class="text-center">Afficher</th> #}
                    </tr>
                    </thead>
                    <tbody>
                    {% for sujet in Sujets %}
                    <tr>
                    <td class="text-center">{{ sujet.id}}</td>
                    <td class="text-center">{{ sujet.reference}}</td>
                    <td class="text-center">{{ sujet.titre}}</td>
                    <td class="text-center">{{ sujet.description}}</td>
                    <td class="text-center">{{ sujet.nbpoints}}</td>
                    <td class="text-center"><a href="{{ path('sup_sujet',{ 'id' : sujet.id } ) }}" class="btn btn-danger"> Supprimer </a></td>
                     {#<td class="text-center"><a href="{{ path('show_candidat',{ 'id' : candidat.id } ) }}" class="btn btn-primary"> afficher </a></td> #}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>        
        </div>    
    </div>    
</div>           

{% endblock %}
